<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.project.common.menu.mapper.Hcom900Mapper">
    <!-- 상단 메뉴 -->
    <select id="headerMenu" resultType="org.project.common.menu.dto.HeaderMenuResponseDTO">
        SELECT CODECD, CODENM
        FROM HCOM900_TBL
        WHERE CMPYCD = 'HAIONNET'
          AND NACD = 'KOR'
          AND CDTYPE = '010'
          AND USEYN = 'Y'
    </select>

    <select id="sideMenu" resultType="org.project.common.menu.dto.SideMenuResponseDTO">
        SELECT A.GRPCD, B.GRPNM, A.PGMID, A.PGMNM
        FROM HCOM110_TBL A LEFT OUTER JOIN HCOM300_TBL B
        ON A.CMPYCD = B.CMPYCD AND A.NACD = B.NACD AND A.UPMUCD = B.UPMUCD
        AND A.GRPCD = B.GRPCD AND A.USEYN = 'Y'
        WHERE A.CMPYCD = 'HAIONNET' AND A.NACD = 'KOR' AND A.USERGRP = '999'
        AND A.UPMUCD = '010' AND A.USEYN = 'Y'
    </select>
</mapper>