<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.project.mapper.hepa.HEPA010U_STR">
    <insert id="ADD_PROC_A0" statementType="CALLABLE">
        {call HEPA010U_STR(
        'A0',
        #{iCMPYCD, mode=IN, jdbcType=CHAR},
        #{iREQYMD, mode=IN, jdbcType=CHAR},
        #{iDEPTCD, mode=IN, jdbcType=CHAR},
        #{iINYMD, mode=IN, jdbcType=CHAR},
        #{iREMARK, mode=IN, jdbcType=VARCHAR},
        #{iREQGB, mode=IN, jdbcType=CHAR},
        #{iREQ_USERID, mode=IN, jdbcType=VARCHAR},
        #{iUPDEMP, mode=IN, jdbcType=VARCHAR}
        )}
    </insert>

    <update id="UPD_PROC_U0" statementType="CALLABLE">
        {call HEPA010U_STR(
        'U0',
        #{iCMPYCD, mode=IN, jdbcType=CHAR},
        #{iREQYM, mode=IN, jdbcType=CHAR},
        #{iREQNO, mode=IN, jdbcType=CHAR},
        #{iINYMD, mode=IN, jdbcType=CHAR},
        #{iREQYMD, mode=IN, jdbcType=CHAR},
        #{iDEPTCD, mode=IN, jdbcType=CHAR},
        #{iREQ_USERID, mode=IN, jdbcType=VARCHAR},
        #{iREMARK, mode=IN, jdbcType=VARCHAR},
        #{iUPDEMP, mode=IN, jdbcType=VARCHAR}
        )}
    </update>

    <delete id="DEL_PROC_D0" statementType="CALLABLE">
        {call HEPA010U_STR(
        'D0',
        #{iCMPYCD, mode=IN, jdbcType=CHAR},
        #{iREQYM, mode=IN, jdbcType=CHAR},
        #{iREQNO, mode=IN, jdbcType=CHAR},
        #{iUPDEMP, mode=IN, jdbcType=VARCHAR}
        )}
    </delete>

    <select id="SEL_PROC_S0" statementType="CALLABLE" resultType="map">
        {call HEPA010U_STR(
        'S0',
        #{iCMPYCD, mode=IN, jdbcType=CHAR},
        #{iREQYM, mode=IN, jdbcType=CHAR},
        #{iREQNO, mode=IN, jdbcType=CHAR},
        #{iREQGB, mode=IN, jdbcType=CHAR}
        )}
    </select>

    <select id="PREV_PROC_P0" statementType="CALLABLE" resultType="map">
        {call HEPA010U_STR(
        'P0',
        #{iCMPYCD, mode=IN, jdbcType=CHAR},
        #{iREQYM, mode=IN, jdbcType=CHAR},
        #{iREQNO, mode=IN, jdbcType=CHAR},
        #{iREQGB, mode=IN, jdbcType=CHAR}
        )}
    </select>

    <select id="NEXT_PROC_N0" statementType="CALLABLE" resultType="map">
        {call HEPA010U_STR(
        'N0',
        #{iCMPYCD, mode=IN, jdbcType=CHAR},
        #{iREQYM, mode=IN, jdbcType=CHAR},
        #{iREQNO, mode=IN, jdbcType=CHAR},
        #{iREQGB, mode=IN, jdbcType=CHAR}
        )}
    </select>
</mapper>